.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("https://as2.ftcdn.net/v2/jpg/03/05/02/53/1000_F_305025399_wOQW2rL0AsgOwZefn2VHLF7SVqLHR4iE.jpg");
    background-size: cover;
}

.registerTitle{
    font-size: 50px;
    color: rgb(17, 73, 73);
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
}

.registerForm > label{
    margin: 10px 0;
}

.registerForm > input {
    padding: 10px;
    background-color: white;
    border: none;
}

.registerButton{
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: teal;
    color: white;
    padding: 10px;
}

.registerLoginButton{
    position: absolute;
    top: 70px;
    right: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: lightcoral;
    color: white;
    padding: 10px;
}